.search-box-wrapper {
  margin: 20px;
}
.search-wrapper {
  margin: 0 20px;
  position: fixed;
  top: 110px;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
}
.search-wrapper .hotAndHistory {
  height: 100%;
}
.hot .title {
  font-weight: bold;
}
.hot .item {
  display: inline-block;
  padding: 5px 10px;
  background-color: #dfdfdf;
  margin: 10px 20px 0 0;
  border-radius: 5px;
}
.history {
  margin: 20px 0;
}
.history .title {
  height: 30px;
  display: flex;
  align-items: center;
}
.history .title .text {
  flex: 1;
  font-weight: bold;
}
.search-result {
  width: 100%;
  position: fixed;
  top: 110px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
